{
  "plugins": ["node", "jest"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "node/no-unsupported-features": 0,
    "node/no-unsupported-features/es-syntax": 0,
    "no-console": 0,
    "no-undef": 0
  },
  "env": {
    "jest/globals": true,
    "node": false,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  }
}